body {
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	border-top: 4px solid #0099CC;
	background-color: #FFFFFF;
}

.header {
	margin: 0px;
	width: 100%;
	padding: 0px;
}

.content {
	margin: 0px auto;
	width: 96%;
	padding-bottom: 0px;
	max-width: 1200px;
	text-align: center;
}

.project-name {
	background-color: #CDCDCD;
	height: 50px;
	overflow:hidden;
  text-wrap: none;
  white-space: nowrap;
  -ms-text-overflow:ellipsis;
	text-overflow: ellipsis;
}

.project-description {
	background-color: #FFF;
	height: 100px;
	overflow:hidden;
  white-space: nowrap;
  -ms-text-overflow:ellipsis;
	text-overflow: ellipsis;
}

footer {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
}

footer a {
	color: #FF4444;
}
