.header {
	margin: 0px auto;
	width: 100%;
	padding: 0px;
	border-top: 2px solid #0099CC;
	box-shadow: 0px 0px 15px #000;
}

.content {
	margin: 0px auto;
	width: 96%;
	padding-bottom: 0px;
	max-width: 1200px;
}

.project {
	border: 1px solid black;
}

.footer {
	margin: 0px auto;
	width: 100%;
	padding: 0px;
}

.footer a {
	color: #FF4444;
}
