body {
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	border-top: 4px solid #0099CC;
	background-color: #FFFFFF;
}

.container-fluid {
	margin-bottom: 50px;
}

.header {
	margin: 0px auto;
	width: 96%;
	max-width: 1200px;
	padding: 0px;
}

.search {
	@media (min-width: @screen-sm-min) {
		margin-bottom: 20px;
	}

	@media (min-width: @screen-md-min) {
		margin-top: 20px;
	}
}

.content {
	margin: 0px auto;
	width: 96%;
	padding-bottom: 0px;
	max-width: 1200px;
	text-align: center;
}

.panel-heading {
	background-color: #EDEDED;
}

.project-name {
	height: 50px;
	overflow:hidden;
  text-wrap: none;
  white-space: nowrap;
  -ms-text-overflow:ellipsis;
	text-overflow: ellipsis;
	font-size: 24px;
	text-decoration: none;
}

.project-description {
	background-color: #FFF;
	height: 75px;
	overflow:hidden;
  -ms-text-overflow:ellipsis;
	text-overflow: ellipsis;
}

.project-language {
	background-color: #FFF;
	height: 50px;
	overflow:hidden;
  -ms-text-overflow:ellipsis;
	text-overflow: ellipsis;
}

footer {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	padding: 10px;
}

footer a {
	color: #FF4444;
}

footer a :hover {
	text-decoration: none;
}

.content a :hover {
	text-decoration: none;
}

.header a :hover {
	text-decoration: none;
}
