{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
    <div class="archive__item-teaser">
      <img src={% if teaser contains "://" %} "{{ teaser }}"
        {% else %} "{{ teaser | prepend: "/images/" | prepend: base_path }}" {% endif %} alt="">
    </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.access_url }}" rel="permalink">{{ title }}</a>
    </h2>

    {% assign authors = '' %}
    {% for author in post.author %}
    {% if author == site.author.name %}
    {% assign authors_updated = authors | append: ", <b>" | append: author | append: "</b>" %}
    {% else %}
    {% assign authors_updated = authors | append: ", " | append: author %}
    {% endif %}
    {% assign authors = authors_updated %}
    {% endfor %}
    {{authors | replace_first: ", ", ""}}

    {% if post.read_time %}
    <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
    <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.collection == 'publications' %}
    {% if post.abstract and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.abstract | markdownify }}</p>
    {% elsif post.abstract and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">
    <p>{{ post.abstract | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}"
          rel="permalink"> Read more</a></strong></p>
    </p>
    {% endif %}
    {% elsif post.date %}
    <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
        {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
        datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
    </p>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">
    <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}"
          rel="permalink"> Read more</a></strong></p>
    </p>
    {% endif %}

    {% if post.collection == 'publications' %}
    <p>
      <b>Cite:</b>
      <!-- [<a href="">bibtex</a>] -->
      <br />
      {{post.citation}}
    </p>
    {% if post.downloads %}
    <p>
      <b>Download:</b>
      {% for download in post.downloads %}
      {% if download[1] contains '://' %}
      {% assign url = download[1] %}
      {% else %}
      {% assign url = base_path | append: download[1] %}
      {% endif %}
      [<a href="{{url}}">{{download[0] | capitalize}}</a>]
      {% endfor %}
    </p>
    {% endif %}
    {% elsif post.collection == 'artifacts' %}
    {% if post.links %}
    <p>
      <b>Links:</b>
      {% for link in post.links %}
      {% if link[1] contains '://' %}
      {% assign url = link[1] %}
      {% else %}
      {% assign url = base_path | append: link[1] %}
      {% endif %}
      [<a href="{{url}}">{{link[0] | capitalize}}</a>]
      {% endfor %}
    </p>
    {% endif %}
    {% endif %}

  </article>
</div>