<section class="cv-section">
    <header class="section-header">
        <h2>Tools and Artifacts</h2>
    </header>
    {% for artifact in site.artifacts %}
    <div class="cv-item">
        <div itemscope itemtype="http://schema.org/SoftwareSourceCode">
            <meta itemprop="author" content="{{ site.data.profile.name }}" />
            <meta itemprop="codeRepository" content="{{ artifact.repository_url }}" />
            {% if artifact.programming_language %}
            <meta itemprop="programmingLanguage" content="{{ artifact.programming_language }}" />
            <meta itemprop="abstract" content="{{ artifact.description }}" />
            {% endif %}
            <!-- <a href="{{ artifact.url }}">
                <h3 class="cv-item-title" itemprop="name">{{ artifact.name }}</h3>
            </a> -->
            <h3 class="cv-item-title" itemprop="name">{{ artifact.name }}</h3>
            :
            <p class="cv-item-details">{{ artifact.short_description }}</p>

            <span class="print-only">
                <a class="cv-item-details" href="{{artifact.repository_url}}">{{artifact.repository_url}}</a>
            </span>

            <div class="no-print">
                {% if artifact.links %}
                <p class="cv-item-details">
                    {% for link in artifact.links %}
                    {% if link[1] contains '://' %}
                    {% assign url = link[1] %}
                    {% else %}
                    {% assign url = base_path | append: link[1] %}
                    {% endif %}
                    [<a href="{{url}}">{{link[0] | capitalize}}</a>]
                    {% endfor %}
                </p>
                {% else %}
                <a class="cv-item-details" href="{{artifact.repository_url}}">{{artifact.repository_url}}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</section>