<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <script src="https://kit.fontawesome.com/ed2ae83e6f.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible' rel='stylesheet'>
    {% include analytics.html %}
</head>