<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.data.profile.description }}">
    <meta name="keywords" content="{{ site.data.profile.keywords | join: ', ' }}">
    <meta name="author" content="{{ site.data.profile.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.data.profile.name }}</title>
    {% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <script src="https://kit.fontawesome.com/ed2ae83e6f.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible' rel='stylesheet'>
    {% include analytics.html %}
</head>