<head>
    <meta charset="utf-8">
    <meta name="canonical" href="{{ site.url }}">
    <meta name="description" content="{{ site.data.profile.description }}">
    <meta name="keywords" content="{{ site.data.profile.keywords | join: ', ' }}">
    <meta name="author" content="{{ site.data.profile.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.data.profile.name }}</title>
    {% endif %}

    <link rel="preload" as="font" type="font/woff" href="assets/fonts/icomoon.woff" crossorigin="anonymous">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible&display=swap"
        onload="this.onload=null;this.rel='stylesheet'">

    {% include default_style.html %}

    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
        <style>
            #toggle-dark,
            #toggle-light {
                display: none !important;
            }
        </style>
    </noscript>

    {% include analytics.html %}
</head>