<section id="publications" class="cv-section">
    <header class="section-header">
        <h2>Publications</h2>
    </header>
    {% for publication in site.publications reversed %}
    <div class="cv-item no-print" itemscope itemtype="https://schema.org/ScholarlyArticle">
        <meta itemprop="datePublished" content="{{publication.date}}">
        <meta itemprop="headline" content="{{publication.title}}">
        <h3 class="cv-item-title" itemprop="name">{{ publication.title }}</h3>
        <br>
        <div class="cv-item-details">
            {%- for author in publication.author %}
            {%- if author == site.data.profile.name %}
            <b>
                <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">{{author}}</span>{% unless forloop.last %},{% endunless %}
                    <meta itemprop="url" content="{{site.url}}">
                </span>
            </b>
            {%- else %}
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <span itemprop="name">{{author}}</span>{% unless forloop.last %},{% endunless %}
            </span>
            {%- endif -%}
            {% endfor -%}

        </div>
        <br>
        {%- if publication.venue %}
        <div class="cv-item-details">
            {{ publication.venue }}
        </div>
        &mdash;
        {% endif -%}
        <div class="cv-item-details">
            {{ publication.year }}
        </div>
        <br>
        {%- if publication.downloads %}
        <div class="cv-item-details">
            {%- for download in publication.downloads %}
            {% if download[1] contains '://' %}
            {% assign url = download[1] %}
            {% else %}
            {% assign url = base_path | append: download[1] %}
            {% endif -%}
            [<a href="{{url}}">{{download[0] | capitalize}}</a>]
            {%- endfor %}
        </div>
        {% endif -%}
    </div>
    <div class="cv-item print-only">
        {{ publication.citation | join: ", " | replace: "David Shriver", "<b>David Shriver</b>" }}
    </div>
    {% endfor %}
</section>