.fa-docker:before {
    content: "| Docker |"
}

.fa-envelope:before {
    content: "| Email |"
}

.fa-github:before {
    content: "| Github |"
}

.ai-google-scholar:before {
    content: "| Google Scholar |"
}

.fa-linkedin:before {
    content: "| LinkedIn |"
}

.ai-orcid:before {
    content: "| ORCID |"
}

.fa-print:before {
    content: "| Print |"
}

.fa-youtube:before {
    content: "| YouTube |"
}