@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin section-border {
    border-top: 3px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    padding: .2rem 0 .2rem 0;
}