.publication-title {
    font-size: 1.5rem;
}

.publication-details {
    margin: 0 0 0.5rem 0;
}

.publication-details-name {
    font-size: 1.1rem;
    font-weight: bold;
    display: inline;
}

.publication-details-value {
    font-size: 1rem;
    display: inline;
}

.publication-author {
    font-style: italic;
}