@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #40826D;
        --secondary-color: #ffffff;
        --text-color: #000000;
        --background-color: #ffffff;
        --invert-filter: invert(0);
    }

    #toggle-light {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #40826D;
        --secondary-color: #ffffff;
        --text-color: #ffffff;
        --background-color: #121212;
        --invert-filter: invert(1);
    }

    #toggle-dark {
        display: none;
    }
}

@media print {
    :root {
        --primary-color: #40826D !important;
        --text-color: #000000 !important;
        --background-color: #ffffff !important;
        --invert-filter: invert(0) !important;
    }
}