<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <a id="toggle-light" class="no-print" href="javascript:location.replace('?light')" aria-label="Turn on light mode."
        title="Turn on light mode.">
        <i class="icon-sun"></i>
    </a>
    <a id="toggle-dark" class="no-print" href="javascript:location.replace('?dark')" aria-label="Turn on dark mode."
        title="Turn on dark mode.">
        <i class="icon-moon"></i>
    </a>

    <div itemscope itemtype="https://schema.org/Person">
        <meta itemprop="sameAs" content="{{ site.url }}">
        {% if site.data.profile.telephone %}
        <meta itemprop="telephone" content="{{ site.data.profile.telephone }}">
        {% endif %}
        {% if site.data.profile.address %}
        <meta itemprop="address" content="{{ site.data.profile.address }}">
        {% endif %}
        {% if site.data.profile.affiliation %}
        <meta itemprop="affiliation" content="{{ site.data.profile.affiliation }}">
        {% endif %}

        <header class="cv-header">
            <picture>
                <source type="image/webp" srcset="assets/images/profile.webp 1x, assets/images/profile-large.webp 2x">
                <source type="image/jpeg" srcset="assets/images/profile.jpg 1x, assets/images/profile-large.jpg 2x">
                <img src="assets/images/profile.jpg" alt="Profile picture." class="profile-photo no-print"
                    itemprop="image" width="150" height="150">
            </picture>

            <h1 class="header-name" itemprop="name">{{site.data.profile.name}}</h1>

            <div id="contact" class="cv-section print-only">
                <div class="section-header">
                    <h2>Contact</h2>
                </div>
                {% if site.data.profile.telephone %}
                <div class="cv-item">
                    Phone: {{ site.data.profile.telephone }}
                </div>
                {% endif %}
                <div class="cv-item">
                    Email: {{ site.data.profile.email }}
                </div>
                <div class="cv-item">
                    Website: {{ site.url }}
                </div>
            </div>

            <div id="social" class="title-bar no-print">
                {% include social-bar.html %}
            </div>
        </header>

        <section id="bio" class="cv-section">
            <header class="section-header print-only">
                <h2>Research Interests</h2>
            </header>

            <div class="header-bio" itemprop="description">
                {{ site.data.profile.bio | markdownify }}
            </div>

            {% if site.data.profile.available %}
            <div class="header-isavailable no-print">
                {{site.data.profile.available}}
            </div>
            {% endif %}
        </section>


        {% include education.html %}

        {% include positions.html %}

        {% include artifacts.html %}

        {% include publications.html %}

        {% include awards.html %}

        {% include service.html %}
    </div>

    <footer class="cv-footer no-print">
        <span class="cv-footer-left">
            Site designed by
            <a href="https://github.com/dlshriver/dlshriver.github.io">David Shriver</a>.
        </span>
        <span class="cv-footer-right">
            <a href="/sitemap.xml">Sitemap</a>
        </span>
    </footer>

    <script>
        var r = document.querySelector(':root');
        var query = window.location.search;
        query = query.replace("?", '');
        if (query == "dark") {
            r.style.setProperty('--primary-color', '#40826D');
            r.style.setProperty('--secondary-color', 'white');
            r.style.setProperty('--text-color', 'white');
            r.style.setProperty('--background-color', '#121212');
            r.style.setProperty('--invert-filter', 'invert(1)');
            document.querySelector('#toggle-dark').style.display = "none";
            document.querySelector('#toggle-light').style.display = "inline-block";
        } else if (query == "light") {
            r.style.setProperty('--primary-color', '#40826D');
            r.style.setProperty('--secondary-color', 'white');
            r.style.setProperty('--text-color', 'black');
            r.style.setProperty('--background-color', 'white');
            r.style.setProperty('--invert-filter', 'invert(0)');
            document.querySelector('#toggle-dark').style.display = "inline-block";
            document.querySelector('#toggle-light').style.display = "none";
        }
    </script>
</body>

</html>